<div class="container mt-5 mb-5">
    <h1>Product Details</h1>
    <div class="card-columns" *ngFor="let p of (products | selectedProduct: id)">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Name</h5>
          <p class="card-text">{{p.name}}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Type</h5>
          <p class="card-text">{{p.type}}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Status</h5>
          <p class="card-text">{{p.status}}</p>
        </div>
      </div>
       <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Price</h5>
          <p class="card-text">${{p.price}}</p>
        </div>
      </div>
       <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">{{p.description}}</p>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" [routerLink]="['/product-list']">Back To Product Listing</a>
</div>